/* COLOR VARIABLES */
$accent-dark-cyan: hsl(180, 29%, 50%);

$main-light-cyan-bg: hsl(180, 52%, 96%);
$main-light-cyan-filter: hsl(180, 31%, 95%);
$main-dark-cyan: hsl(180, 8%, 52%);
$main-very-dark-cyan: hsl(180, 14%, 20%);
