@import "./reset.css";
@import "./_colors.scss";
@import "./_screens.scss";
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");

body {
  font-family: "Spartan", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  background-color: $main-light-cyan-bg;
  cursor: default;
}

#root {
  width: 100vw;
}

.container {
  width: 80%;
  margin: 0 auto;
  @media screen and (max-width: 1000px) {
    width: 90%;
  }
  @media screen and (max-width: 900px) {
    width: 95%;
  }
}

.bg-desktop {
  background: url("../components/images/bg-header-desktop.svg") no-repeat
    center/cover;
  background-color: $accent-dark-cyan;
  height: 100px;
}

.bg-mobile {
  background: url("../components/images/bg-header-mobile.svg") no-repeat
    center/cover;
  display: none;
}

/* LIST COMPONENT */

.list {
  margin: 4rem 0;
  position: relative;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 900px) {
    margin-top: 10rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .list-item {
    &.featured {
      border-left: 5px solid $accent-dark-cyan;
    }
    padding: 1.5rem;
    border-radius: 5px;
    background-color: white;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    @media screen and (max-width: 900px) {
      flex-direction: column;
      height: 300px;
      width: 350px;
      margin: 0 auto 3rem auto;
      position: relative;
      align-items: flex-start;
      padding: 4rem 0.5rem 0.5rem 0.5rem;
    }
    @media screen and (max-width: 700px) {
      width: 95%;
    }
    .left {
      height: 90%;
      display: flex;
      align-items: center;
      min-width: 40%;
      @media screen and (max-width: 900px) {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        .pic {
          img {
            position: absolute;
            top: -30px;
            width: 60px !important;
            height: 60px !important;
          }
        }
      }
      .pic {
        img {
          width: 80px;
          height: 80px;
        }
      }

      .content {
        width: 100%;
        height: 80%;
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .above-title {
          display: flex;
          align-items: center;
          .company {
            color: $accent-dark-cyan;
            font-size: 0.9rem;

            margin-right: 0.5rem;
          }
          .new-feat {
            display: flex;
            p {
              background-color: $accent-dark-cyan;
              color: white;
              padding: 0 0.4rem;
              padding-top: 0.1rem;
              line-height: 1rem;
              font-size: 0.6rem;
              margin: 0 0.3rem;
              border-radius: 50px;
              text-transform: uppercase;
              font-weight: 700;

              &.feat {
                background-color: $main-very-dark-cyan;
              }
            }
          }
        }
        .title {
          h3 {
            font-weight: 700;
            letter-spacing: 0.8px;
            cursor: pointer;
            transition: color 500ms ease;
            &:hover {
              color: $accent-dark-cyan;
            }
          }
        }
        .sub-title {
          width: 100%;
          @media screen and (max-width: 900px) {
            width: 80%;
          }
          ul {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0;
            margin: 0;
            li {
              color: $main-dark-cyan;
              list-style: none;
            }
          }
        }
      }
    }
    .right {
      height: 100%;
      display: flex;
      align-items: center;
      @media screen and (max-width: 900px) {
        .tags {
          flex-wrap: wrap;
          p {
            margin-top: 1rem !important;
          }
        }
      }
      .tags {
        display: flex;
        p {
          margin: 0 0.5rem;
          font-weight: 700;
          font-size: 0.8rem;
          color: $accent-dark-cyan;
          background-color: $main-light-cyan-filter;
          padding: 0.5rem;
          border-radius: 5px;
          cursor: pointer;
          transition: all 500ms ease;
          &:hover {
            background-color: $main-very-dark-cyan;
            color: white;
          }
          &.checked {
            background-color: $main-very-dark-cyan;
            color: $main-light-cyan-bg;
          }
        }
      }
    }
  }
}

/* FILTER */
.filter {
  position: absolute;
  padding: 0 2rem;
  top: 65px;
  z-index: 100;
  background-color: white;
  min-height: 70px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .tags {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    .tag {
      color: $accent-dark-cyan;
      padding-left: 0.5rem;
      border-radius: 5px;
      line-height: 2rem;
      background-color: $main-light-cyan-filter;
      display: flex;
      align-items: center;
      height: 100%;
      margin-right: 1rem;
      margin-top: 0.5rem !important;
      margin-bottom: 0.5rem !important;
      &:nth-of-type(1) :nth-of-type(3) {
        margin-left: 0;
      }
      p {
        display: inline-block;
        font-size: 0.8rem;
        font-weight: 700;
        cursor: default;
      }
      .img-container {
        background-color: $accent-dark-cyan;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 0 0.5rem;
        margin-left: 0.5rem;
        cursor: pointer;
        transition: all 500ms ease;
        &:hover {
          background-color: $main-very-dark-cyan;
        }
        img {
          display: block;
          margin: 0.7rem 0.1rem;
        }
      }
    }
  }
  .clear {
    cursor: pointer;
    color: $accent-dark-cyan;
    font-size: 0.8rem;
    font-weight: 700;
    &:hover {
      text-decoration: underline;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
